body {
    display: block;
    margin: 8px;
}

h1 {
    background-image: url(DasmotoImg1.webp);
    text-align: center;
    font-size: 100px;
    color: khaki;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h1, h2, h3, p {
    font-family: Helvetica;
}

.item {
    display: block;
    unicode-bidi: isolate;
}

.item h2 {
    color: white;
    font-size: 32px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} 

.Img2, .Img3, .Img4 {
    align-items: left;
}



#brush {
    display: block;
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    unicode-bidi: isolate;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    overflow-clip-margin: contentbox;
    overflow: clip;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: left;
    color: black;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: left;
}

.price {
    color: blue;
    font-weight: bold;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.PBrush {
    color: black;
    font-weight: ;
    text-align: left;
}

.PFrame {

}

.PP {

}